#container {
  border-radius: 0 0 0 1em;
  white-space: nowrap;
  height: 1.7em;
  background-color: #800000;
  color: white;
  padding: 0;
}
.content {
  height: 1.7em;
  display: flex;
  flex-flow: row-wrap;
  font-size: 1em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.left-button {
  align-items: center;
  font-weight: bold;
  height: 1.5em;
  line-height: 1em;
  margin: .2em;
  padding:.1em .5em .1em .5em;
  border-width: .01em;
}
.right-button {
  align-items: center; 
  font-weight: bold; 
  height: 1.5em; 
  line-height: 1em; 
  margin: .2em .2em .2em 0; 
  padding:.1em .5em .1em .5em; 
  border-width: .01em;
}
