.flexItem {
  text-align: left; 
  width: 100%; 
  align-self: strech;
}
#container2 {
  height: calc(100vh/3 - 4em/3); 
  width: calc(9vw + 9vh); 
  overflow:visible; 
  border-radius:1em;
  color: white; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: flex-start; 
  margin:1.666em 0 0 0;
  background-color: #264d73;
  align-content: space-between; 
  flex-wrap: nowrap; 
  padding: .5em; 
  white-space: nowrap;
}
#form-header {
  font-size: 2em; 
  line-height: 1em; 
  font-weight: 800; 
  padding: 0; 
  color: white;
}
.label-style {
  line-height: 1em; 
  margin: 0.2em 0 0.3em 0; 
  font-size: 1.2em;
  font-weight:bold; 
}
.text-input {
  line-height: 1em;
  height: 2.6em;  
  font-size: 1em; 
  margin: 0; 
  padding: 0;
}