<meta charset="utf-8">
<link rel="dns-prefetch" href="https://github.githubassets.com/">
<link rel="dns-prefetch" href="https://avatars0.githubusercontent.com/">
<link rel="dns-prefetch" href="https://avatars1.githubusercontent.com/">
<link rel="dns-prefetch" href="https://avatars2.githubusercontent.com/">
<link rel="dns-prefetch" href="https://avatars3.githubusercontent.com/">
<link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com/">
<link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">
<link crossorigin="anonymous" media="all" integrity="sha512-ZUjVod2EvYMDbGqRSyW0rpfgBq3i+gnR/4PfrzLsy5f20oIcRfgFQFVKgi3Ztp917bP1K/kdP5q8+nAlJ3+cFA==" rel="stylesheet" href="https://github.githubassets.com/assets/frameworks-6548d5a1dd84bd83036c6a914b25b4ae.css" />
<link crossorigin="anonymous" media="all" integrity="sha512-HNV7VuXI98SSFimaE7r8eVsgrmzC37AMNXw1GrNbOl4wN3ATov+SdHusRTAAf4NPoRsUcOOQyYsOCA0AcN4m0w==" rel="stylesheet" href="https://github.githubassets.com/assets/site-1cd57b56e5c8f7c49216299a13bafc79.css" />
<link crossorigin="anonymous" media="all" integrity="sha512-CKBn/UfyE+yEuqeavkB8Y5xld809yQJ0Evsa+pOoHP8jlBS0TGBeKIiOs17M57SuJMEZl3wjXuB2pexW8oEeuA==" rel="stylesheet" href="https://github.githubassets.com/assets/github-08a067fd47f213ec84baa79abe407c63.css" />
<meta name="viewport" content="width=device-width">
<title>GitHub - altrangaj/Chat-Brainstorm: Chat application with brainstorming view. (10 credits project work for full stack open - course.)</title>
<meta name="description" content="Chat application with brainstorming view. (10 credits project work for full stack open - course.) - altrangaj/Chat-Brainstorm">
<link rel="search" type="application/opensearchdescription+xml" href="https://github.com/opensearch.xml" title="GitHub">
<link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
<meta property="fb:app_id" content="1401488693436528">
<meta name="twitter:image:src" content="https://avatars3.githubusercontent.com/u/48847534?s=400&amp;v=4" />
<meta name="twitter:site" content="@github" /><meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="altrangaj/Chat-Brainstorm" />
<meta name="twitter:description" content="Chat application with brainstorming view. (10 credits project work for full stack open - course.) - altrangaj/Chat-Brainstorm" />
<meta property="og:image" content="https://avatars3.githubusercontent.com/u/48847534?s=400&amp;v=4" />
<meta property="og:site_name" content="GitHub" /><meta property="og:type" content="object" />
<meta property="og:title" content="altrangaj/Chat-Brainstorm" />
<meta property="og:url" content="Chat-Brainstorm.html" />
<meta property="og:description" content="Chat application with brainstorming view. (10 credits project work for full stack open - course.) - altrangaj/Chat-Brainstorm" />
<link rel="assets" href="https://github.githubassets.com/">
<meta name="request-id" content="B2AC:1117E:ACDBE3:FC467E:5E4D45D6" data-pjax-transient="true" />
<meta name="html-safe-nonce" content="838f4cd6faad19ff9f79b5087f2577897ae110c0" data-pjax-transient="true" />
<meta name="visitor-payload" content="eyJyZWZlcnJlciI6bnVsbCwicmVxdWVzdF9pZCI6IkIyQUM6MTExN0U6QUNEQkUzOkZDNDY3RTo1RTRENDVENiIsInZpc2l0b3JfaWQiOiIyMTI3MjU5NDM1OTE4NDczODMiLCJyZWdpb25fZWRnZSI6ImFtcyIsInJlZ2lvbl9yZW5kZXIiOiJpYWQifQ==" data-pjax-transient="true" />
<meta name="visitor-hmac" content="ad4eab602ec2d550ec432a4acf56a2bff3f9126ca2799a1e0a17a430ede18e64" data-pjax-transient="true" />
<meta name="github-keyboard-shortcuts" content="repository" data-pjax-transient="true" />
<meta name="selected-link" value="repo_source" data-pjax-transient>
<meta name="google-site-verification" content="KT5gs8h0wvaagLKAVWq8bbeNwnZZK1r1XQysX3xurLU">
<meta name="google-site-verification" content="ZzhVyEFwb7w3e0-uOTltm8Jsck2F5StVihD0exw2fsA">
<meta name="google-site-verification" content="GXs5KoUUkNCoaAZn7wPN-t01Pywp9M3sEjnt_3_ZWPc">
<meta class="js-ga-set" name="dimension1" content="Logged Out">
<meta name="hostname" content="github.com">
<meta name="user-login" content="">
<meta name="expected-hostname" content="github.com">
<meta name="enabled-features" content="MARKETPLACE_FEATURED_BLOG_POSTS,MARKETPLACE_INVOICED_BILLING,MARKETPLACE_SOCIAL_PROOF_CUSTOMERS,MARKETPLACE_TRENDING_SOCIAL_PROOF,MARKETPLACE_RECOMMENDATIONS,MARKETPLACE_PENDING_INSTALLATIONS,RELATED_ISSUES">
<meta http-equiv="x-pjax-version" content="2e63e6bd8ece9826eb61af0c1a5496f1">
<link href="#" rel="alternate" title="Recent Commits to Chat-Brainstorm:master" type="application/atom+xml">
<meta name="go-import" content="github.com/altrangaj/Chat-Brainstorm git https://github.com/altrangaj/Chat-Brainstorm.git">
<meta name="octolytics-dimension-user_id" content="48847534" />
<meta name="octolytics-dimension-user_login" content="altrangaj" />
<meta name="octolytics-dimension-repository_id" content="234820858" />
<meta name="octolytics-dimension-repository_nwo" content="altrangaj/Chat-Brainstorm" />
<meta name="octolytics-dimension-repository_public" content="true" />
<meta name="octolytics-dimension-repository_is_fork" content="false" />
<meta name="octolytics-dimension-repository_network_root_id" content="234820858" />
<meta name="octolytics-dimension-repository_network_root_nwo" content="altrangaj/Chat-Brainstorm" />
<meta name="octolytics-dimension-repository_explore_github_marketplace_ci_cta_shown" content="false" />
<link rel="canonical" href="Chat-Brainstorm.html" data-pjax-transient>
<meta name="browser-stats-url" content="https://api.github.com/_private/browser/stats">
<meta name="browser-errors-url" content="https://api.github.com/_private/browser/errors">
<link rel="mask-icon" href="https://github.githubassets.com/pinned-octocat.svg" color="#000000">
<link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://github.githubassets.com/favicon.ico">
<meta name="theme-color" content="#1e2327">